@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  /* dark mode color patterns */
  --dark-green: #012622ff;
  --sea-green: #1a936fff;
  --mint-cream: #f1fffaff;
  --wine: #702632ff;

  /* light mode color patterns */
  --mint-cream: #f1fffaff;
  --indigo-dye: #08415cff;
  --persian-green: #1b998bff;
  --rose-red: #b33951ff;
  --cinereous: #92817A;

  --background: var(--mint-cream);
  --foreground: var(--indigo-dye);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-green);
    --foreground: var(--mint-cream);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}
