.btn {
  padding: 10px 20px;
  line-height: 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 8px 2px var(--dark-green);
  transition: background 0.3s ease-in-out,
              color 0.3s ease-in-out,
              box-shadow 0.3s ease-in-out;

  &.btn--primary {
    background: var(--mint-cream);
    color: var(--dark-green);
    border: 1px solid var(--dark-green);

    &:hover {
      background: var(--dark-green);
      color: var(--mint-cream);
      box-shadow: 0 2px 4px 2px var(--dark-green);
    }
  }

  &.btn--secondary {
    background: var(--dark-green);
    color: var(--mint-cream);
  }

  &.btn--tertiary {
    background: var(--mint-cream);
    color: var(--dark-green);
  }
}
