@import "button";

:root {
  /* dark mode color patterns */
  --dark-green: #012622ff;
  --sea-green: #1a936fff;
  --mint-cream: #f1fffa;
  --wine: #702632ff;

  /* light mode color patterns */
  --indigo-dye: #08415cff;
  --persian-green: #1b998bff;
  --rose-red: #b33951ff;
  --cinereous: #92817a;

  --background: var(--mint-cream);
  --foreground: var(--indigo-dye);

  --header-height: 40px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-green);
    --foreground: var(--mint-cream);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}

a {
  text-decoration: underline;
  color: var(--foreground);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  padding: 0;
  outline: none;
  border: none;
  background: none;
}

.w-full {
  width: 100%;
}

.w-80per {
  width: 80%;
}

.h-full {
  height: 100%;
}

.h-80per {
  height: 80%;
}

.mx-auto {
  margin: 0 auto;
}

.mr-8 {
  margin-right: 8px;
}

.mt-24 {
  margin-top: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.block {
  display: block;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.top-40 {
  top: 40px;
}

.left-0 {
  left: 0;
}

.left-20 {
  left: 20px;
}

.right-0 {
  right: 0;
}

.right-20 {
  right: 20px;
}

.right-40 {
  right: 40px;
}

.bottom-0 {
  bottom: 0;
}

.bottom-20 {
  bottom: 20px;
}

.bottom-40 {
  bottom: 40px;
}

.z-5 {
  z-index: 5;
}

.overflow-y-auto {
  overflow-y: auto;
  overflow-x: hidden;
}

.text-center {
  text-align: center;
}

.h-40 {
  height: 40px;
}

.lh-2 {
  line-height: 2;
}

.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.p-8 {
  padding: 8px;
}

.p-lr-24 {
  padding: 0 24px;
}

.p-t-12 {
  padding-top: 12px;
}

.p-12 {
  padding: 12px;
}

.p-24 {
  padding: 24px;
}

.p-lr-24 {
  padding: 0 24px;
}

.p-b-24 {
  padding-bottom: 24px;
}

.grid {
  display: grid;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.rounded-lg {
  border-radius: 8px;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.pointer {
  cursor: pointer;
}

.text-16 {
  font-size: 16px;
}

.text-36 {
  font-size: 36px;
}

.shadow-sm {
  box-shadow: 0 4px 8px 4px rgba(1, 38, 124, 0.1);
}

.bg-background {
  background: var(--background);
}

.text-foreground {
  color: var(--foreground) !important;
}

.border-box {
  box-sizing: border-box;
}

.radius-8 {
  border-radius: 8px;
}

/* Flex */
.flex-1 {
  flex: 1;
}

/* Grid */
.grid {
  display: grid;
}

.grid-col-2 {
  grid-template-columns: 50% 50%;
}
